@charset "UTF-8";
body{
    text-align: center;
}
#body
    {
     margin-left:auto;    /* 左側マージンを自動的に空ける */
     margin-right:auto;   /* 右側マージンを自動的に空ける */
     text-align:left;     /* 中身を左側表示に戻す */
     width:380px;         /* 幅を決定する */
    }